<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="Oracle.ManagedDataAccess.Client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <quartz>
    <add key="quartz.jobStore.misfireThreshold" value="10000" />
    <add key="quartz.threadPool.threadCount" value="10" />
  </quartz>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="ChaveModelo" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--Parâmetros de negócio-->
    <add key="CaminhoDeOrigem" value="D:\Repository\GDE\SEGOV\sefaz-framework\POCs\ServicoWindows.Modelo\ServicoWindows.Modelo\bin\Debug" />
    <add key="CaminhoDeDestino" value="D:\Repository\GDE\SEGOV\sefaz-framework\POCs\ServicoWindows.Modelo\ServicoWindows.Modelo\bin\Debug" />
    <add key="CaminhoDeRecebidos" value="D:\Repository\GDE\SEGOV\sefaz-framework\POCs\ServicoWindows.Modelo\ServicoWindows.Modelo\bin\Debug" />
    <add key="CaminhoDeDevolvidos" value="D:\Repository\GDE\SEGOV\sefaz-framework\POCs\ServicoWindows.Modelo\ServicoWindows.Modelo\bin\Debug" />
    <add key="CaminhoDeBackup" value="D:\Repository\GDE\SEGOV\sefaz-framework\POCs\ServicoWindows.Modelo\ServicoWindows.Modelo\bin\Debug" />

    <add key="IdentificacaoDoServico" value="BaixaDePagamentos"/>

    <!--### Tipo de Execução ###-->
    <!--Valores possíveis: Diaria, Semanal, Mensal-->
    
    <!--Execução Diária-->
    <add key="TipoDeExecucao" value="Diaria"/>
    <add key="HorarioQueIniciaExecucao" value="11:33"/>

    <!--Execução Semanal-->
    <add key="TipoDeExecucao" value="Semanal"/>
    <add key="HorarioQueIniciaExecucao" value="11:33"/>
    <add key="DiaQueIniciaExecucao" value="Segunda"/>

    <!--Execução Mensal-->
    <add key="TipoDeExecucao" value="Mensal"/>
    <add key="HorarioQueIniciaExecucao" value="11:33"/>
    <add key="DiaQueIniciaExecucao" value="1"/>

    <!--Execução com intervalo em horas-->
    <add key="TipoDeExecucao" value="IntervaladaEmHoras"/>
    <add key="DataQueIniciaExecucao" value="06/09/2019"/>
    <add key="IntervaloDeExecucaoEmHoras" value="1"/>
    <add key="NumeroDeRepeticoesDaExecucao" value="10"/>

    <!--Execução com intervalo em minutos-->
    <add key="TipoDeExecucao" value="IntervaladaEmMinutos"/>
    <add key="DataQueIniciaExecucao" value="07/09/2019"/>
    <add key="IntervaloDeExecucaoEmMinutos" value="35"/>
    <add key="NumeroDeRepeticoesDaExecucao" value="10"/>
    
    <!--Execução com expressão CRON-->
    <add key="TipoDeExecucao" value="Personalizada"/>
    <add key="ExpressaoCron" value="0 0/1 * * * ?"/>
    
  </appSettings>
  <sefaz.infra>
    <geral codigoDominio="SEFAZ-PMS" codigoSistema="SATWST" usuarioSistema="SATWEB" />
    <seguranca>
      <controleAcesso provedor="Sefaz.Infra.Web.ControleAcesso" classe="ControleAcesso" urlAutenticador="https://senhawebsefazdsv/autentica/Login" />
    </seguranca>
  </sefaz.infra>
  <system.data>
    <DbProviderFactories>
      <!--Diretiva adicionada para remover o seguinte erro:-->
      <!---ConfigurationErrorsException: Ocorreu um erro ao criar o manipulador de seção de configuração de system.data: A coluna 'InvariantName' está restrita a conter valores exclusivos. O valor 'Oracle.ManagedDataAccess.Client' já existe-->
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="ODP.NET, Managed Driver"
            invariant="Oracle.ManagedDataAccess.Client"
            description="Oracle Data Provider for .NET, Managed Driver"
            type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>